.site-footer {
  background: #848d93;
  padding: 20px 0;

}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row {
  width: 100%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-md-4 h6 {
  font-size: 1.2rem;
}
