#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

  .contactTitle {
    text-align: center;
    color: #383c64;
    padding-top: 2cm;
  }

  .contactContent1 {
    height: 150px;
    max-width: 20%;
    color: #383c64;
    
  }

  .contactContent2 {
    height: 150px;
    max-width: 20%;
    color: #383c64;
  
  }

  .flexBoxContactContent {
    display: flex;
    height: 300px;
    max-width: 100%;
    justify-content: center;
    padding-top: 2cm;
    gap: 20px;
   margin-bottom: 4cm;
   
  }

  hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #383c64;  /* old IE */
    background-color: #383c64;  /* Modern Browsers */
  }

  