/*projekte.css by Michel Blecken*/
.p_mb {
    background: var(--color2);
}

.head_p_mb {
    margin: 0 1rem;
}

.p_mb h5 {
    background: var(--color3);
}

.p_mb p {
    background: var(--color3);
}