/*schulsozialarbeit.css by Michel Blecken*/


.angebot_ssa_mb {
    margin-top: 2rem;
}

.konflikt_ssa_mb {
    margin-top: 1rem;
}

.gruppen_ssa_mb {
    margin-top: 1rem;
}

.entwicklung_ssa_mb {
    margin-top: 1rem;
}

.raum_ssa_mb {
    margin-top: 1rem;
}

.arbeite_ssa_mb {
    margin-top: 1rem;
}

.arbeitszeiten_ssa_mb {
    margin-top: 1rem;
}

.erreichen_ssa_mb {
    margin-top: 1rem;
}

.ssa_mb {
    background: var(--color2);
}

.tr_mb {
    background: var(--color2)
}