/*Styles.css by Aron Halaoui*/
@import url(footer.css);
@import url(navbar.css);
@import url(kontakt.css);

body {
    margin: 0;
    font-family: Arial, sans-serif;
    z-index: 0;
  }
  
  
.LandingpagePicture {
  max-width: 100%;
  filter: brightness(90%)
  }

.container {
  display: flex;
  justify-content: center; /* Zentriert die Container horizontal */
  z-index: 10;
}

.aktuelles-container {
  /* position: absolute; */
  height: 500px;
  background-color: #383c64;
  color: white;
  width: 300px; /* Breite der Container anpassen */
  border: 1px solid #ccc; /* Optional: Umrandung hinzufügen */
  padding: 20px; /* Optional: Innenabstand anpassen */
}

.headline, .headlineText {
    color: rgb(52,63,100);
}

.headline {
    margin-top:50px;
    margin-bottom: 25px;
}

.headlineText {
    margin-bottom: 25px;
    font-size: 20px;
}

