@import url(footer.css);
@import url(navbar.css);

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  
.LandingpagePicture {
  max-width: 100%;
  filter: brightness(90%)
  }
.content-area {
    padding-top: 500px; /* Adjust this value to add space between navbar and content */
    padding-bottom: 500px; /* Adjust this value to add space between content and footer */
}
